AWS_BUCKET_NAME
bucket
GEMINI_API_KEY
AIzASDiojoiadfgsji93jksajd123
MONGODB_URI
mongodb+srv://db_user:password3@cluster0.git123.mongodb.net/?appName=Cluster0
SQS_QUEUE_URL
https://sqs.ap-southeast-2.amazonaws.com/12312312312321/compliance-job-queue
WORKER_CALLBACK_TOKEN=replace_with_a_long_random_secret
WORKER_CALLBACK_API_BASE_URL=api.link